.rounded-sm {
  border-radius: 4rpx;
}

.rounded {
  border-radius: 8rpx;
}

.rounded-md {
  border-radius: 12rpx;
}

.rounded-lg {
  border-radius: 16rpx;
}

.rounded-xl {
  border-radius: 20rpx;
}

.rounded-2xl {
  border-radius: 30rpx;
}

.rounded-3xl {
  border-radius: 40rpx;
}

.border-all {
  border: 1px solid #eee;
}

.border-t {
  border-top: 1px solid rgb(203 213 225);
}

.indent-2 {
  text-indent: 2em;
}