.m-0 {
  margin: 0;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 8rpx;
}

.ml-2 {
  margin-left: 16rpx;
}

.ml-3 {
  margin-left: 24rpx;
}

.ml-4 {
  margin-left: 32rpx;
}

.ml-5 {
  margin-left: 40rpx;
}

.ml-6 {
  margin-left: 48rpx;
}

.ml-7 {
  margin-left: 56rpx;
}

.ml-8 {
  margin-left: 64rpx;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 8rpx;
}

.mr-2 {
  margin-right: 16rpx;
}

.mr-3 {
  margin-right: 24rpx;
}

.mr-4 {
  margin-right: 32rpx;
}

.mr-5 {
  margin-right: 40rpx;
}

.mr-6 {
  margin-right: 48rpx;
}

.mr-7 {
  margin-right: 56rpx;
}

.mr-8 {
  margin-right: 64rpx;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 8rpx;
  margin-right: 8rpx;
}

.mx-2 {
  margin-left: 16rpx;
  margin-right: 16rpx;
}

.mx-3 {
  margin-left: 24rpx;
  margin-right: 24rpx;
}

.mx-4 {
  margin-left: 32rpx;
  margin-right: 32rpx;
}

.mx-5 {
  margin-left: 40rpx;
  margin-right: 40rpx;
}

.mx-6 {
  margin-left: 48rpx;
  margin-right: 48rpx;
}

.mx-7 {
  margin-left: 56rpx;
  margin-right: 56rpx;
}

.mx-8 {
  margin-left: 64rpx;
  margin-right: 64rpx;
}

.mt-0 {
  margin-top: 0;
}

.mt-sm {
  margin-top: 4rpx;
}

.mt-1 {
  margin-top: 8rpx;
}

.mt-2 {
  margin-top: 16rpx;
}

.mt-3 {
  margin-top: 24rpx;
}

.mt-4 {
  margin-top: 32rpx;
}

.mt-5 {
  margin-top: 40rpx;
}

.mt-6 {
  margin-top: 48rpx;
}

.mt-7 {
  margin-top: 56rpx;
}

.mt-8 {
  margin-top: 64rpx;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 8rpx;
}

.mb-2 {
  margin-bottom: 16rpx;
}

.mb-3 {
  margin-bottom: 24rpx;
}

.mb-4 {
  margin-bottom: 32rpx;
}

.mb-5 {
  margin-bottom: 40rpx;
}

.mb-6 {
  margin-bottom: 48rpx;
}

.mb-7 {
  margin-bottom: 56rpx;
}

.mb-8 {
  margin-bottom: 64rpx;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 8rpx;
  margin-bottom: 8rpx;
}

.my-2 {
  margin-top: 16rpx;
  margin-bottom: 16rpx;
}

.my-3 {
  margin-top: 24rpx;
  margin-bottom: 24rpx;
}

.my-4 {
  margin-top: 32rpx;
  margin-bottom: 32rpx;
}

.my-5 {
  margin-top: 40rpx;
  margin-bottom: 40rpx;
}

.my-6 {
  margin-top: 48rpx;
  margin-bottom: 48rpx;
}

.my-7 {
  margin-top: 56rpx;
  margin-bottom: 56rpx;
}

.my-8 {
  margin-top: 64rpx;
  margin-bottom: 64rpx;
}