//颜色 ，渐变背景60%
$yellow: #ffc300;
$orange: #ff6000;
$red: #ff3000;
$pink: #e03997;
$mauve: #b745cb;
$purple: #652abf;
$blue: #0081ff;
$cyan: #37c0fe;
$green: #2aae67;
$olive: #8dc63f;
$grey: #8799a3;
$brown: #a5673f;
$black: #484848;
$golden: #e9b461;

//浅色
$light-red: #fa4126;
$light-blue: #87cefa;

//灰度
$bg-page: #f6f6f6;
$white: #ffffff;
$gray-f: #f8f9fa;
$gray-e: #eeeeee;
$gray-d: #dddddd;
$gray-c: #cccccc;
$gray-b: #bbbbbb;
$gray-a: #aaaaaa;
$dark-9: #999999;
$dark-8: #888888;
$dark-7: #777777;
$dark-6: #666666;
$dark-5: #555555;
$dark-4: #484848;
$dark-3: #333333;
$dark-2: #222222;
$dark-1: #111111;
$black: #000000;

$main-color: #ff623e;